.h1 {
	font: 36px/110% var(--accent-font);
  text-transform: uppercase;
  margin: 0;
}

.h1__line-1 {
  display: block;
	text-align: left;
}

.h1__line-2 {
  display: block;
	text-align: center;
}

.h1__line-3 {
  display: block;
	text-align: right;
}

@include breakpoint {

  .h1 {
    font-size: 60px;
  }

}