.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.table__row {
  display: table-row;
}

.table__term, 
.table__description {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ccc;
}

.table__term {
  border-left: none;
}

.table__term::after {
  content: ':'
}

.table__description {
  font-weight: bold;
  border-right: none;
}

/* Убираем внешние границы */
.table__row:first-child .table__term,
.table__row:first-child .table__description {
  border-top: none;
}

.table__row:last-child .table__term,
.table__row:last-child .table__description {
  border-bottom: none;
}

/* Стиль для зачеркнутого текста */
.stroke {
  text-decoration: line-through;
  text-decoration-color: red;
}