.welcome {
}

.welcome__contents-container {
	
}

.welcome__text {
  font: 400 28px var(--accent-font);
  text-transform: uppercase;
}

.welcome__text_accent {
	font-weight: bold;
  color: var(--red);
}

.welcome__img-1 {
	
}

.welcome__img-2 {
	
}

.welcome__bottom-container {
	
}

.welcome__link {
	
}

