@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:wght@400;700&display=swap');


:root {
  --white: #fff;
  --red: #f54932;
  --black: #313131;

  --accent-font: "Merriweather", serif;
  --default-font: "Golos Text", sans-serif;
}

@mixin breakpoint {
  @media (min-width: 1366px) {
    @content;
  }
}

.body {
  font: 16px var(--default-font);
  font-optical-sizing: auto;
  margin: 0;
}


@import "header";
@import "h1";
@import "button";
@import "marquee";
@import "table";